<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{static}STATIC_URLstatic-->
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--método 1 com dependeicia do template polls-->
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <!--método 2 sem dependeicia do template polls-->
        <!--<li><a href="{<percent> url 'detail' question.id %}">{{ question.question_text }}</a></li>-->
        <!--método 3 passando o nome do app em urls-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Não há enquetes disponíveis.</p>
{% endif %}
</body>
</html>